@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Learn your times tables</h1>
       <p class="btn btn-primary btn-lg" id="beginPracticing">@Html.ActionLink("Click me to begin", "Practice", "Home")</p>
</div>

<div class="row">
   
</div>